*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "Cairo";
}
@font-face{
    src: url(/webfonts/Cairo-VariableFont_wght.ttf);
    font-display: swap;
    font-family: Cairo;
}
.row{
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    display: inline-block;
    margin: 0;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
button{
    height: unset;
}
body{
    background-color: #f4f4f4;
    // height: 5000px;
    &.scroll{
        padding-top: 70px;
    }
}