* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo";
}

@font-face {
  src: url(/webfonts/Cairo-VariableFont_wght.ttf);
  font-display: swap;
  font-family: Cairo;
}
.row {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  display: inline-block;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button {
  height: unset;
}

body {
  background-color: #f4f4f4;
  height: 5000px;
}
body.scroll {
  padding-top: 70px;
}

header {
  position: relative;
  width: 100%;
  z-index: 9999;
}
header .navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar .navbar-brand {
  width: 80px;
  margin: 0;
}
header .navbar .navbar-brand.scroll {
  width: 55px;
}
header .navbar .navbar-brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navbar .navbar-nav {
  margin-right: auto;
}
header .navbar .navbar-nav .nav-item {
  padding-right: 10px;
}
header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: #1f2122;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: relative;
}
header .navbar .navbar-nav .nav-item .nav-link.scroll {
  font-size: 18px;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #28a9f4;
}
header .navbar.scroll {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .iconNavbar {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
header .iconNavbar:hover .SpanActive {
  width: 40px;
}
header .iconNavbar span {
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #1f2122;
}
header .iconNavbar span:first-child {
  top: 5px;
}
header .iconNavbar span:nth-child(2) {
  top: 15px;
  width: 45px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
header .iconNavbar span:nth-child(3) {
  top: 25px;
}
header .iconNavbar span.active:first-child {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
header .iconNavbar span.active:nth-child(2) {
  display: none;
}
header .iconNavbar span.active:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
header .navbarResponsive {
  width: 100vw;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
header .navbarResponsive .navbar2 {
  width: 70vw;
  padding: 20px 15px;
  background-color: #fff;
}