$hover:#28a9f4;
$hoverD:#3a94d3;
$main: #091f2e;
$borderColor: #949494a1;
$MTsection: 10vh;
$transition: .3s ease-out;
$boxShadow:  0 0 10px rgba($color: $main, $alpha: .2);
$gradient: linear-gradient(90deg, hsla(306, 91%, 64%, 1) 0%, hsla(202, 100%, 70%, 1) 100%);
$p:  rgb(91, 91, 91);

